@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial-Black.eot');
    src: url('../fonts/Arial-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arial-Black.woff2') format('woff2'),
        url('../fonts/Arial-Black.woff') format('woff'),
        url('../fonts/Arial-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial-BoldMT.eot');
    src: url('../fonts/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arial-BoldMT.woff2') format('woff2'),
        url('../fonts/Arial-BoldMT.woff') format('woff'),
        url('../fonts/Arial-BoldMT.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/ArialMT.eot');
    src: url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ArialMT.woff2') format('woff2'),
        url('../fonts/ArialMT.woff') format('woff'),
        url('../fonts/ArialMT.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}